# -*- mode: sh-mode; -*-

# Compiled source
# .............................................................................

*.com
*.class
*.dll
*.exe
*.o
*.so

# Compressed archives & package files
# .............................................................................

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS-specific things to ignore:
# .............................................................................

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Emacs-specific things to ignore:
# .............................................................................

*~
.#*
.git/COMMIT_EDITMSG
auto
*.synctex.gz
TAGS

# LaTeX-specific things to ignore:
# .............................................................................

*.aux
*.log
*.bbl
*.blg
*.out
*.toc
*.loc
*.mp

# Python-specific things to ignore:
# .............................................................................

*.pyc
__pycache__
*.egg-info
.eggs

# Project-specific things to ignore:
# .............................................................................

./build
./dist
*-reduced.jpg
*-reduced.png
*.all-results.jpg
*.all-results.png
*.amazon-rekognition.jpg
*.amazon-textract.jpg
*.microsoft.jpg
*.google.jpg
*.amazon-rekognition.png
*.amazon-textract.png
*.microsoft.png
*.google.png
*.bak
.README.md.tmp
docs/_build
