[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aenum = "==3.1.0"
appdirs = "==1.4.4"
boltons = "==21.0.0"
boto3 = "==1.17.91"
bun = "==0.0.7"
commonpy = ">=1.9.0"
fastnumbers = "==3.1.0"
google-api-core = "==1.30.0"
google-api-python-client = "==2.8.0"
google-auth = "==1.30.2"
google-auth-httplib2 = "==0.1.0"
google-cloud = "==0.34.0"
google-cloud-vision = "==2.3.1"
googleapis-common-protos = "==1.53.0"
grpcio = "==1.38.0"
humanize = ">=3.7.1"
imagesize = "==1.2.0"
matplotlib = "==3.4.2"
numpy = "==1.22.2"
plac = "==1.3.3"
psutil = "==5.8.0"
requests = "==2.25.0"
rich = "==10.1.0"
sidetrack = "==2.0.0"
textdistance = "==4.2.2"
urllib3 = "==1.26.5"
validator-collection = "==1.5.0"
Pillow = "==9.0.1"
PyMuPDF = "==1.19.6"
StringDist = "==1.0.9"

[dev-packages]
pytest-mock = "==3.7.0"
