colorama>=0.3.9
google-api-core>=1.4.0
google-api-python-client>=1.7.4
google-auth-httplib2>=0.0.3
google-auth>=1.5.1
google-cloud-vision>=0.34.0
google-cloud>=0.34.0
googleapis-common-protos>=1.5.3
grpcio>=1.15.0
halo>=0.0.18
matplotlib>=2.2.3
numpy>=1.15.1
Pillow>=5.2.0
plac>=1.0.0
requests>=2.19.1
setuptools>=39.1.0
termcolor>=1.1.0

