appdirs>=1.4.3
boto3>=1.10.0
colorful>=0.5.1
google-api-core>=1.4.0
google-api-python-client>=1.7.4
google-auth-httplib2>=0.0.3
google-auth>=1.5.1
google-cloud-vision>=0.34.0
google-cloud>=0.34.0
googleapis-common-protos>=1.5.3
grpcio>=1.23.0
halo>=0.0.23
humanize>=0.5.1
imagesize>=1.1.0     
matplotlib>=2.2.3
numpy>=1.17.2
Pillow>=5.2.0
plac>=1.0.0
psutil>=5.6.3
PyMuPDF>=1.16.0
requests>=2.19.1
setuptools>=39.1.0
StringDist>=1.0.9
termcolor>=1.1.0
textdistance>=4.1.5
urllib3>=1.25
