@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, input {
    color: rgba(0,0,0,.87);
    -webkit-font-feature-settings: "kern","liga";
    font-feature-settings: "kern","liga";
    font-family: "Atkinson Hyperlegible", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.md-typeset {
  line-height: 1.5;
  font-size: 0.9rem;
}

.md-typeset p, .md-typeset ol {
    margin-top: 0.75em;;
    margin-bottom: 0.75em;;
}

.md-typeset ol li,.md-typeset ul li{
    margin-bottom: .35em;
}

.md-typeset ol li ol,.md-typeset ol li ul,.md-typeset ul li ol,.md-typeset ul li ul{
    margin:.35em 0 .35em .625em
}

.md-typeset ol li blockquote,.md-typeset ol li p,.md-typeset ul li blockquote,.md-typeset ul li p{
    margin: .35em 0 !important;
}

.md-sidebar--secondary {
  display: none !important;
}

.md-content {
  margin-right: 0;
}

.md-header-nav__source {
  width: 8rem !important;
}

.md-typeset h1{
    margin: 0 0 1.5rem;
}

.md-typeset h2 {
    margin: 1.5rem 0 .8rem;
}

.md-typeset h3{
    margin: 1.35rem 0 .8rem;
}

nav.md-tabs {
  display: none;
}

.md-nav__list ul {
  margin-left: 10px !important;
}

figure {
  margin-top: 1.5em;
  text-align: center;
}

figure img {
  max-width: 75% !important;
}

figure figcaption {
  font-style: italic;
}

dt {
  font-weight: bold;
}

.button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 90%;
  line-height: 1.2;
  margin: 0 .1em;
  padding: .15em .3em;
}

.color-info {
  background-color: #20a1b6;
  color: #fff;
}

.color-danger {
  background-color: #db3a4a;
  color: #fff;
}

.color-primary {
  background-color: #357bf6;
  color: #fff;
}

.color-secondary {
  background-color: #6c6c6c;
  color: #fff;
}

.color-not-available {
  background-color: #a6a6a6;
  color: #fff;
}

.color-outline-info {
  border: 1px solid #20a1b6;
  border-radius: 3px;
  color: #20a1b6;
}

.color-outline-danger {
  border: 1px solid #db3a4a;
  border-radius: 3px;
  color: #db3a4a;
}

.color-outline-primary {
  border: 1px solid #357bf6;
  border-radius: 3px;
  color: #357bf6;
}

.color-outline-secondary {
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  color: #6c6c6c;
}

.color-outline-not-available {
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  color: #a6a6a6;
}

h1 {
  font-weight: 500 !important;
  color: #000 !important;
}

h2 {
  font-weight: 500 !important;
  color: #000;
}

h3 {
  color: #000;
}

h4 {
  font-style: italic;
}

img.shadowed {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 22px 50px 4px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.0);
}
